.popup__submit-button {
    padding: 14px 125px;
    margin-top: 47px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #000000;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__submit-button {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
    }
}