.profile__add-button {
    margin-left: auto;
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    background-image: url('../../../images/add-button.svg');
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        max-width: 282px;
        margin: 0;
    }
}