.elements {
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    gap: 21px 17px;
}

@media screen and (max-width: 1023px) {
    .elements {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .elements {
        max-width: 282px;
    }
}