.popup__close-button {
    position: absolute;
    right: -41px;
    top: -41px;
    background-image: url('../../../images/Close.svg');
    cursor: pointer;
    border: none;
    max-width: 32px;
    width: 100%;
    min-height: 32px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        top: -42px;
        right: -4px;
        background-size: 20px;
    }
}